body {
  color: #666;
}

.container h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

.container h1 {
  @apply text-5xl font-semibold;
}

.container h2 {
  @apply text-3xl font-semibold;
}

.container h3 {
  @apply text-xl font-semibold;
}

.container a {
  color: #333;
}

.container a:hover {
  @apply rounded outline;
}

.container a:active {
  color: #666;
}
