---
const { chapters, chapterTitle } = Astro.props;
---

<aside class="rounded border p-4 md:col-span-2">
  <ol class="list-inside list-decimal">
    {
      chapters.map((chapter: any) => (
        <li class="text-gray-800">
          <a
            class={
              chapter.frontmatter.title === chapterTitle
                ? "font-bold text-blue-600"
                : ""
            }
            href={chapter.url}
          >
            {chapter.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ol>
</aside>
