---
const { path } = Astro.props;
const currentPage = path[path.length - 1];
path.pop();
---

<span>
  {
    path.map((page: { url: string; title: string }) => (
      <>
        <a href={page.url}>{page.title}</a> &#8594;
      </>
    ))
  }
  <a class="font-semibold" href={currentPage.url}>{currentPage.title}</a>
</span>
