---
import Logo from "../components/Logo.astro";
import Social from "./Social.astro";
const logoSize = "32px";
---

<header>
  <div class="container m-auto flex justify-between px-5">
    <Logo width={logoSize} height={logoSize} />
    <Social />
  </div>
</header>
