---
const { module } = Astro.props;
---

<label
  class="mr-1 inline-block rounded px-4 text-gray-800"
  style={`background-color: ${module ? module.frontmatter.color : "#f00"}`}
>
  Module {
    module ? (module.frontmatter.order ? module.frontmatter.order : "?") : "?"
  }
</label>
