---
import { Icon } from "astro-icon";
---

<div class="flex items-center gap-1">
  <a class="w-6" href="https://github.com/beabhiyanta" target="_blank">
    <Icon pack="mdi" name="github" />
  </a>
  <a class="w-6" href="https://twitter.com/beabhiyanta" target="_blank">
    <Icon pack="mdi" name="twitter" />
  </a>
</div>
