---
import ModuleCell from "./ModuleCell.astro";
const { modules } = Astro.props;
const sortedModules = modules.sort((a: any, b: any) =>
  a.frontmatter.order > b.frontmatter.order ? 1 : -1
);
---

<div>
  <h2>Modules</h2>
  <div class="grid gap-8 py-4 md:grid-cols-3">
    {sortedModules.map((module: any) => <ModuleCell module={module} />)}
  </div>
</div>
