---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} metaDescription={frontmatter.description}>
  <div class="flex justify-center">
    <div class="w-full max-w-4xl py-16">
      <h1>{frontmatter.title}</h1>
      <div class="md:py-16">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
